@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron" id="app">
    <div class="cart">
        
        <p>Cart({{cart.length}})</p>
    </div>
    <product premium="premium" @@add-to-cart="updateCart" @@remove-from-cart="removeItem"></product>
    
</div>





